---
bindings:
- name: peers
  resource: :/api/peers

- name: sessions
  resource: :/api/sessions
---
{{ $sessions := .bindings.sessions }}
<div class="card">
  <div class="card-header">
    Authorized Peers
  </div>

  <nav class="navbar navbar-light bg-faded flex-row justify-content-between">
    <ul class="navbar-nav flex-row ">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/peers/edit?id=new"
          title="Add Peer"
        >
          <i class="fa fa-fw fa-user"></i>
          Add Peer
        </a>
      </li>
    </ul>
  </nav>

  {{ if .bindings.peers }}
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Peer Name</th>
        <th>Peer Groups</th>
        <th>ID</th>
        <th>Addresses</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.peers }}
      <tr>
        <td>
          {{ if in .id (pluck $sessions "id") }}
          <span class="badge badge-success">Online</span>
          {{ else }}
          <span class="badge badge-default">Offline</span>
          {{ end }}
        </td>
        <td>{{ .name }}</td>
        <td>{{ .groups }}</td>
        <td>{{ .id }}</td>
        <td>{{ .addresses }}</td>
        <td>
          <span class="pull-right">
            <a class="btn btn-sm btn-primary" href="/peers/edit?id={{ .id }}">
              <i class="fa fa-pencil"></i> Edit
            </a>
            <a class="btn btn-sm btn-danger" onclick="byteflood.delete('peers', '{{ .id }}')" href="#">
              <i class="fa fa-remove"></i> Revoke
            </a>
          </span>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No peers are authorized to connect.
      <br />
      <br />
      <a class="btn btn-lg btn-success" href="/peers/edit"><i class="fa fa-plus"></i> Add One</a>
    </p>
  </div>
  {{ end }}
</div>
