---
bindings:
- name: queue
  resource: :/api/downloads
---
<div class="card">
  <div class="card-header">
    Currently Downloading
  </div>


  <nav class="navbar navbar-full navbar-light bg-faded">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          onclick="byteflood.performAction('downloads/actions/clear', location.reload)"
          title="Clear the download queue and stop all current downloads."
        >
          <i class="fa fa-fw fa-trash"></i>
          Clear
        </a>
      </li>
    </ul>
  </nav>

  {{ if .bindings.queue.active_downloads }}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>File</th>
        <th>Progress</th>
        <th></th>
        <th>Size</th>
        <th>Peer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range $key, $download := .bindings.queue.active_downloads }}
      <tr>
        <td>
        #{{ $download.id }}
        </td>
        <td>
          <i class="fa fa-fw bf-queue-status-{{ $download.status }}"></i>
          <span class="badge badge-default">{{ titleize $download.status }}</span>
        </td>
        <td>{{ or $download.name $download.file_id }}</td>
        {{ if $download.error }}
        <td colspan="3" class="text-danger">
          {{ $download.error }}
        </td>
        {{ else }}
        <td>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuemin="0"
              style="width: {{ percent $download.progress 1.0 }}%"
              aria-valuenow="{{ percent $download.progress 1.0 }}"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>
          {{ percent $download.progress 1.0 }}% ({{ autobyte $download.rate "%.1f" }}/s)
        </td>
        <td>
          {{ autobyte $download.bytes_received "%.2f" }} / {{ autobyte $download.size "%.2f" }}
        </td>
        {{ end }}
        <td>{{ or $download.peer_name $download.session_id }}</td>
        <td></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block text-xs-center">
    <p class="card-text">There are no active downloads.</p>
  </div>
  {{ end }}
</div>
