---
bindings:
- name: history
  resource: :/api/downloads/history
---
<div class="card">
  <div class="card-header">
    Download History
  </div>

  {{ if .bindings.history }}
  <table class="bf-log-table">
    <thead>
      <tr>
        <th class="col-md-2">Status</th>
        <th class="col-md-1">Peer</th>
        <th class="col-md-4">File</th>
        <th class="col-md-5">Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.history }}
      <tr>
        <td class="col-md-2">
          <i class="fa fa-fw bf-queue-status-{{ .status }} bf-text-status-{{ .status }}"></i>
          <span class="badge badge-default">{{ titleize .status }}</span>
        </td>
        <td class="col-md-1">{{ or .peer_name .session_id }}</td>
        <td class="col-md-4">{{ or .name .file_id }}</td>
        {{ if .error }}
        <td class="text-danger col-md-5">
          {{ .error }}
        </td>
        {{ else }}
        <td class="col-md-5">
          Downloaded {{ autobyte .size "%.1f" }}
        </td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block text-xs-center">
    <p class="card-text">There is no download history.</p>
  </div>
  {{ end }}
</div>
