---
page:
  title: Edit Scanned Directory
bindings:
- name: directory
  resource: :/api/directories/{{ or .request.url.query.id "new" }}
---
<div class="col-sm-12 col-md-6">
    <form name="directories" method="POST" data-redirect-to="/database">
        <div class="form-group">
            <label for="id">
                <b>Label</b>
                <small><i>(required)</i></small>
            </label>
            <input
                type="text"
                class="form-control"
                name="id"
                aria-describedby="idHelp"
                required
                {{ if eq (or .request.url.query.id "new") "new" }}autofocus{{ else }}readonly{{ end }}
                value="{{ .bindings.directory.id }}"
            >

            <small id="idHelp" class="form-text text-muted">
                This is a value that will be used to logically group items imported from this path.  Shares
                created with the same name (via a case insensitive "snake_case" match) and without specifying
                a base filter will use this value to expose files.
            </small>
        </div>

        <div class="form-group">
            <label for="path"><b>Local Path</b> <small><i>(required)</i></small></label>
            <div class="w-100">
                <input
                    type="text"
                    class="form-control typeahead"
                    data-typeahead-url="/api/browse/{}"
                    autocomplete="off"
                    name="path"
                    aria-describedby="pathHelp"
                    required
                    {{ if ne (or .request.url.query.id "new") "new" }}autofocus{{ end }}
                    value="{{ .bindings.directory.path }}"
                >
            </div>

            <small id="pathHelp" class="form-text text-muted">
                This is the local filesystem path that should be scanned into the database.
            </small>
        </div>

        <div class="form-group">
            <label for="file_pattern">File Pattern</label>
            <input
                type="text"
                class="form-control"
                name="file_pattern"
                aria-describedby="filePatternHelp"
                value="{{ .bindings.directory.file_pattern }}"
            >

            <small id="filePatternHelp" class="form-text text-muted">
                If specified, this regular expression will restrict which files under the given
                path are included in the scan.
            </small>
        </div>

        <div class="form-group">
            <label for="min_file_size">Minimum File Size</label>
            <input
                type="number"
                class="form-control"
                name="min_file_size"
                aria-describedby="minFileSizeHelp"
            >

            <small id="minFileSizeHelp" class="form-text text-muted">
                If set, only files larger than this value will be included in the scan.
            </small>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label class="custom-control custom-checkbox">
                    <span class="custom-control-description">Follow Symlinks</span>
                    <input
                        type="checkbox"
                        name="follow_symlinks"
                        autocomplete="off"
                        class="custom-control-input"
                        {{ if .bindings.directory.follow_symlinks }}checked{{ end }}
                    >
                    <span class="custom-control-indicator"></span>
                </label>
            </div>

            <div class="col-sm-9">
                <small id="followSymlinksHelp" class="form-text text-muted">
                    If set, symbolic links that appear under this directory will be followed, and their contents
                    will appear as if they were under this directory.
                </small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label class="custom-control custom-checkbox">
                    <span class="custom-control-description">Shallow Scan</span>
                    <input
                        type="checkbox"
                        name="no_recurse"
                        autocomplete="off"
                        class="custom-control-input"
                        {{ if .bindings.directory.no_recurse }}checked{{ end }}
                    >
                    <span class="custom-control-indicator"></span>
                </label>
            </div>

            <div class="col-sm-9">
                <small id="noRecurseHelp" class="form-text text-muted">
                    If set, only in the immediate directory will be scanned, and any subdirectories will be omitted.
                </small>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
