---
page:
  title: Edit Scanned Directory
bindings:
- name: directory
  resource: :/api/directories/{{ or .request.url.query.id "new" }}
---
<div class="col-sm-12 col-md-6">
    <form name="directories" method="POST" data-redirect-to="/database">
        <div class="form-group">
            <label for="id" class="required">Label</label>
            <input
                type="text"
                class="form-control"
                name="id"
                aria-describedby="idHelp"
                required
                {{ if eqx (qs "id" "new") "new" }}autofocus{{ else }}readonly{{ end }}
                value="{{ .bindings.directory.id }}"
            >

            <small id="idHelp" class="form-text text-muted">
                This is a value that will be used to logically group items imported from this path.  Shares
                created with the same name (via a case insensitive "snake_case" match) and without specifying
                a base filter will use this value to expose files.
            </small>
        </div>

        <div class="form-group">
            <label for="path" class="required">Local Path</label>
            <div class="w-100">
                <input
                    type="text"
                    class="form-control typeahead"
                    data-typeahead-url="/api/browse/{}"
                    autocomplete="off"
                    name="path"
                    aria-describedby="pathHelp"
                    required
                    {{ if nex (qs "id" "new") "new" }}autofocus{{ end }}
                    value="{{ .bindings.directory.path }}"
                >
            </div>

            <small id="pathHelp" class="form-text text-muted">
                This is the local filesystem path that should be scanned into the database.
            </small>
        </div>

        <div class="form-group">
            <label for="min_file_size">Minimum File Size</label>
            <input
                type="number"
                class="form-control"
                name="min_file_size"
                min="0"
                aria-describedby="minFileSizeHelp"
            >

            <small id="minFileSizeHelp" class="form-text text-muted">
                If set, only files larger than this value will be included in the scan.
            </small>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label class="custom-control custom-checkbox mt-1">
                    <span class="custom-control-description">Follow Symlinks</span>
                    <input
                        type="checkbox"
                        name="follow_symlinks"
                        autocomplete="off"
                        class="custom-control-input"
                        {{ if .bindings.directory.follow_symlinks }}checked{{ end }}
                    >
                    <span class="custom-control-indicator"></span>
                </label>
            </div>

            <div class="col-sm-8">
                <small id="followSymlinksHelp" class="form-text text-muted">
                    If set, symbolic links that appear under this directory will be followed, and their contents
                    will appear as if they were under this directory.
                </small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <label class="custom-control custom-checkbox mt-1">
                    <span class="custom-control-description">Shallow Scan</span>
                    <input
                        type="checkbox"
                        name="no_recurse"
                        autocomplete="off"
                        class="custom-control-input"
                        {{ if .bindings.directory.no_recurse }}checked{{ end }}
                    >
                    <span class="custom-control-indicator"></span>
                </label>
            </div>

            <div class="col-sm-8">
                <small id="noRecurseHelp" class="form-text text-muted">
                    If set, only in the immediate directory will be scanned, and any subdirectories will be omitted.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="file_pattern">Ignore Patterns</label>
            <textarea
                class="form-control"
                name="file_pattern"
                aria-describedby="filePatternHelp"
                rows="10"
            >{{ .bindings.directory.file_pattern }}</textarea>

            <small id="filePatternHelp" class="form-text text-muted">
                If specified, the patterns listed here will be ignored when scanning this folder.  The syntax for
                these patterns is consistent with <a href="https://git-scm.com/docs/gitignore#_pattern_format" target="_blank">
                <code>.gitignore</code></a> filters commonly used with Git projects.
            </small>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
