---
page:
  title: Edit Scanned Directory
bindings:
- name: directory
  resource: :/api/directories/{{ or .request.url.query.id "new" }}
---
<div class="col-sm-12 col-md-6">
    <form name="directories" method="POST" data-redirect-to="/database">
        <input name="id" type="hidden" value="{{ .bindings.directory.id }}">

        <div class="form-group">
            <label for="path"><b>Local Path</b> <small><i>(required)</i></small></label>
            <input
                type="text"
                class="form-control"
                name="path"
                aria-describedby="pathHelp"
                required
                autofocus
                value="{{ .bindings.directory.path }}"
            >

            <small id="pathHelp" class="form-text text-muted">
                This is the local filesystem path that should be scanned into the database.
            </small>
        </div>

        <div class="form-group">
            <label for="label">
                <b>Label</b>
                <small><i>(required)</i></small>
            </label>
            <input
                type="text"
                class="form-control"
                name="label"
                aria-describedby="labelHelp"
                required
                value="{{ .bindings.directory.label }}"
            >

            <small id="labelHelp" class="form-text text-muted">
                This is a value that will be used to logically group items imported from this path.  Shares
                created with the same name (via a case insensitive "snake_case" match) and without specifying
                a base filter will use this value to expose files.
            </small>
        </div>

        <div class="form-group">
            <label for="file_pattern">File Pattern</label>
            <input
                type="text"
                class="form-control"
                name="file_pattern"
                aria-describedby="filePatternHelp"
                value="{{ .bindings.directory.file_pattern }}"
            >

            <small id="filePatternHelp" class="form-text text-muted">
                If specified, this regular expression will restrict which files under the given
                path are included in the scan.
            </small>
        </div>

        <div class="form-group">
            <label for="recursive">Recursive Scan</label>
            <input
                type="checkbox"
                class="form-control"
                name="recursive"
                aria-describedby="recursiveHelp"
                value="1"
                checked="{{ if .bindings.directory.recursive }}checked{{ end }}"
            >

            <small id="recursiveHelp" class="form-text text-muted">
                Whether all subdirectories under the given path will be scanned.
            </small>
        </div>

        <div class="form-group">
            <label for="min_file_size">Minimum File Size</label>
            <input
                type="number"
                class="form-control"
                name="min_file_size"
                aria-describedby="minFileSizeHelp"
                checked="{{ if .bindings.directory.min_file_size }}checked{{ end }}"
            >

            <small id="minFileSizeHelp" class="form-text text-muted">
                If set, only files larger than this value will be included in the scan.
            </small>
        </div>


        <div class="form-group">
            <label for="checksum">Checksum Files</label>
            <input
                type="checkbox"
                class="form-control"
                name="checksum"
                aria-describedby="checksumHelp"
                value="1"
                checked="{{ if .bindings.directory.checksum }}checked{{ end }}"
            >

            <small id="checksumHelp" class="form-text text-muted">
                If true, all scanned files will have a SHA-256 checksum calculated for them.
                Note: this will significantly increase the time to scan large directories.
            </small>
        </div>


        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
