---
page:
    title: Database
    refresh: 30

bindings:
- name: db
  resource: :/api/db

- name: directories
  resource: :/api/directories
  on_error: print

- name: stats
  resource: :/api/metrics/summary/byteflood.db.(total_bytes|file_count|directory_count)
  optional: true
  params:
    fn: 'last'
---
{{ if .bindings.stats }}
<div class="row">
  <div class="col-sm-3 offset-sm-3">
    <div class="card card-inverse card-success text-center">
      <div class="card-block">
        <div class="card-title">Total Size</div>
        <h3 class="card-blockquote">
          {{ $i := indexOf (pluck .bindings.stats "name") "byteflood.db.total_bytes" }}
          {{ if gt $i 0 }}
            {{ $s := index .bindings.stats $i }}
            {{ autobyte (or $s.statistics.sum 0) "%.1f" }}
          {{ end }}
        </h3>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card card-inverse card-primary text-center">
      <div class="card-block">
        <div class="card-title">File Count</div>
        <h3 class="card-blockquote">
          {{ $i := indexOf (pluck .bindings.stats "name") "byteflood.db.file_count" }}
          {{ if gt $i 0 }}
            {{ $s := index .bindings.stats $i }}
            {{ thousandify (or $s.statistics.sum 0) }}
          {{ end }}
        </h3>
      </div>
    </div>
  </div>
<!--
  <div class="col-sm-3">
    <div class="card text-center">
      <div class="card-block p-1">
        <div
          bf-load="/util/_chart.html"
          bf-param-q="byteflood.api.requests"
          bf-param-from="-24h"
          bf-param-interval="5m"
          bf-param-xAxis="false"
          bf-param-yAxis="false"
          bf-param-staircase="true"
          bf-param-legend="false"
        ></div>
      </div>
    </div>
  </div> -->
</div>
{{ end }}

{{ $scanning := .bindings.db.scan_in_progress }}
<div class="card">
  <div class="card-header">
    Scanned Directories
  </div>

  <nav class="navbar navbar-light bg-faded flex-row justify-content-between">
    <ul class="navbar-nav flex-row ">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/database/edit?id=new"
          title="Add Directory"
        >
          <i class="fa fa-fw fa-folder"></i>
          Add Directory
        </a>
      </li>

      {{ if $scanning }}
      <li class="nav-item">
        <a class="nav-link">Scanning...</a>
      </li>
      {{ else }}
      <li class="nav-item">
        <a
          href=""
          class="nav-link {{ if $scanning }}disabled{{ end }}"
          onclick="byteflood.scan()"
        >
          <i class="fa fa-search"></i>
          Scan All
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ if .bindings.directories }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Path</th>
        <th>Options</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.directories }}
      <tr>
        <td>{{ .id }}</td>
        <td>{{ .path }}</td>
        <td>
          <i class="fa fa-fw{{ if .follow_symlinks }} fa-link{{ end }}"{{ if .follow_symlinks }} title="Follow symlinks while scanning"{{ end }}></i>
          <i class="fa fa-fw{{ if .file_pattern }} fa-code{{ end }}"{{ if .file_pattern }} title="Some files are not included in this scan"{{ end }}></i>
          <i class="fa fa-fw{{ if .no_recurse }} fa-minus-square{{ end }}"{{ if .no_recurse }} title="Only scan files in the immediate directory"{{ end }}></i>
        </td>
        <td>
          <span class="pull-right">
            <button
              class="btn btn-sm btn-success"
              onclick="byteflood.scan('{{ .id }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-search"></i> Scan
            </button>

            <a
              class="btn btn-sm btn-primary{{ if $scanning }} disabled{{ end }}"
              href="/database/edit?id={{ .id }}"
            >
              <i class="fa fa-pencil"></i> Edit
            </a>

            <button
              class="btn btn-sm btn-danger"
              onclick="byteflood.delete('directories', '{{ .id }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-remove"></i> Remove
            </button>
          </span>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No directories are being monitored.
      <br />
      <br />
      <a class="btn btn-lg btn-success" href="/database/edit"><i class="fa fa-plus"></i> Add One</a>
    </p>
  </div>
  {{ end }}
</div>

