---
page:
    title: Database
    refresh: 30
bindings:
- name: db
  resource: :/api/db

- name: directories
  resource: :/api/directories
---
{{ $scanning := .bindings.db.scan_in_progress }}
{{ if $scanning }}
<div class="alert alert-info" role="alert">
  A database scan is currently in progress.
</div>
{{ end }}

<div class="card">
  <div class="card-header">
    Scanned Directories
  </div>

  {{ if .bindings.directories }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>Label</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <span class="pull-right">
            <button
              class="btn btn-sm btn-primary"
              onclick="byteflood.scan()"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-search"></i>
              Scan All
            </button>
          </span>
        </td>
      </tr>
      {{ range .bindings.directories }}
      <tr>
        <td>{{ .label }}</td>
        <td>{{ .path }}</td>
        <td>
          <span class="pull-right">
            <button
              class="btn btn-sm btn-success"
              onclick="byteflood.scan('{{ .label }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-search"></i> Scan
            </button>

            <button
              class="btn btn-sm btn-danger"
              onclick="byteflood.delete('directories', '{{ .id }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-remove"></i> Remove
            </button>
          </span>
        </td>
      </tr>
      {{ end }}
      <tr>
        <td colspan="3">
          <span class="pull-right">
            <a class="btn btn-sm btn-success" href="/database/edit">
              <i class="fa fa-plus"></i> Add Directory
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No directories are being monitored.
      <br />
      <br />
      <a class="btn btn-lg btn-success" href="/database/edit"><i class="fa fa-plus"></i> Add One</a>
    </p>
  </div>
  {{ end }}
</div>

