---
page:
    title: Database
    refresh: 30
bindings:
- name: db
  resource: :/api/db

- name: directories
  resource: :/api/directories
  on_error: print
---
{{ $scanning := .bindings.db.scan_in_progress }}
<div class="card">
  <div class="card-header">
    Scanned Directories
  </div>

  <nav class="navbar navbar-light bg-faded flex-row justify-content-between">
    <ul class="navbar-nav flex-row ">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/database/edit?id=new"
          title="Add Directory"
        >
          <i class="fa fa-fw fa-folder"></i>
          Add Directory
        </a>
      </li>
    </ul>

    <ul class="navbar-nav flex-row">
      {{ if $scanning }}
      <li class="nav-item">
        <a class="nav-link">Scanning...</a>
      </li>
      {{ else }}
      <li class="nav-item">
        <a
          class="nav-link {{ if $scanning }}disabled{{ end }}"
          onclick="byteflood.scan()"
        >
          <i class="fa fa-search"></i>
          Scan All
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ if .bindings.directories }}
  <table class="table table-sm table-striped table-hover ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.directories }}
      <tr>
        <td>{{ .id }}</td>
        <td>{{ .path }}</td>
        <td>
          <span class="pull-right">
            <button
              class="btn btn-sm btn-success"
              onclick="byteflood.scan('{{ .id }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-search"></i> Scan
            </button>

            <a
              class="btn btn-sm btn-primary{{ if $scanning }} disabled{{ end }}"
              href="/database/edit?id={{ .id }}"
            >
              <i class="fa fa-pencil"></i> Edit
            </a>

            <button
              class="btn btn-sm btn-danger"
              onclick="byteflood.delete('directories', '{{ .id }}')"
              {{ if $scanning }}disabled{{ end }}
            >
              <i class="fa fa-remove"></i> Remove
            </button>
          </span>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No directories are being monitored.
      <br />
      <br />
      <a class="btn btn-lg btn-success" href="/database/edit"><i class="fa fa-plus"></i> Add One</a>
    </p>
  </div>
  {{ end }}
</div>

