---
bindings:
- name: share
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}

- name: current
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/view/{{ .request.url.query.parent }}
  optional: true

- name: ancestors
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/parents/{{ or .request.url.query.parent `root` }}
  optional: true

- name: results
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/browse/{{ .request.url.query.parent }}
  params:
    limit: '{{ or .request.url.query.limit 15 }}'
    offset: '{{ or .request.url.query.offset 0 }}'
    sort:   '{{ .request.url.query.sort }}'
  optional: true
---
{{ $session := or .request.url.query.session `` }}
{{ $share := or .request.url.query.share `` }}
{{ $grandparent := or .request.url.query.grandparent `` }}
{{ $parent := or .request.url.query.parent `` }}
{{ $offset := or .request.url.query.offset 0 }}
{{ if .bindings.results }}
<div class="card">
  <div class="card-header">
    <b>
      Browsing: <a href="/shares/?share={{ $share }}&amp;session={{ $session }}&amp;parent=">{{ .bindings.share.name }}</a>
      {{ if $parent }}
        {{ range .bindings.ancestors }}
          /
          {{ if .last }}
            {{ .name }}
          {{ else }}
            <a href="/shares/?share={{ $share }}&amp;session={{ $session }}&amp;parent={{ .id }}">{{ .name }}</a>
          {{end }}
        {{ end }}
      {{ end }}
    </b>

    <form class="form-inline pull-right">
      <div class="form-group">
        <label for="browseAs">Browse As: </label>
        <select name="browseAs" class="form-control form-control-sm">
          <option>Files</option>
          <option>TV Shows</option>
          <option>Movies</option>
          <option>Music</option>
        </select>
      </div>
    </form>
  </div>

  <nav class="navbar navbar-full navbar-light bg-faded">
    <ul class="nav navbar-nav">
      {{ if $parent }}
      <li class="nav-item">
        <a
          class="nav-link"
          href="/shares/?share={{ $share }}&amp;parent={{ $grandparent }}&amp;session={{ $session }}"
          title="Navigate to the directory above this one."
        >
          <i class="fa fa-fw fa-level-up"></i>
          Up
        </a>
      </li>
      {{ end }}
    </ul>

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <a
          class="nav-link disabled"
          href="#"
          title="Perform a one-time download of this directory."
        >
          <i class="fa fa-fw fa-cloud-download"></i>
          Fetch
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link disabled"
          href="#"
          title="Download this directory and monitor it for changes on an ongoing basis."
        >
          <i class="fa fa-fw fa-plus-square"></i>
          Subscribe
        </a>
      </li>
    </ul>
  </nav>

  {{ if .bindings.results.result_count }}
    {{ $page := .bindings.results.page }}
    {{ $perPage := .bindings.results.records_per_page }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.results.records }}
      <tr>
        <td {{ if .fields.directory }}class="cursor-pointer" onclick="window.location='/shares/?share={{ $share }}&amp;parent={{ .id }}&amp;session={{ $session }}&amp;grandparent={{ $parent }}'"{{ end }}>
          {{ if .fields.directory }}
          <i class="fa fa-fw fa-folder"></i>
          <a href="/shares/?share={{ $share }}&amp;parent={{ .id }}&amp;session={{ $session }}&amp;grandparent={{ $parent }}">{{ .fields.metadata.file.name }}</a>
          {{ else }}
          {{ if .fields.metadata.file.mime.type }}
            {{ if hasPrefix .fields.metadata.file.mime.type `audio` }}
              <i class="fa fa-fw fa-file-audio-o"></i>
            {{ else if hasPrefix .fields.metadata.file.mime.type `video` }}
              <i class="fa fa-fw fa-file-video-o"></i>
            {{ else if hasPrefix .fields.metadata.file.mime.type `image` }}
              <i class="fa fa-fw fa-file-image-o"></i>
            {{ else }}
              <i class="fa fa-fw fa-file-o"></i>
            {{ end }}
          {{ else }}
            <i class="fa fa-fw fa-file-o"></i>
          {{ end }}

          {{ .fields.metadata.file.name }}
          {{ end }}
        </td>
        <td>
          {{ if .fields.directory }}directory
          {{ else }}
          {{ .fields.metadata.file.extension }}
          {{ end }}
        </td>
        <td>
          {{ if .fields.metadata.file.size }}
          {{   autobyte .fields.metadata.file.size "%.f" }}
          {{ else }}
          &ndash;
          {{ end }}
        </td>
        <td>
          <a
            target="_blank"
            href="/api{{ if $session }}/sessions/{{ $session }}{{ end }}/files/{{ .id }}?mimetype={{ .fields.metadata.file.mime.type }}"
          >
            <i class="fa fa-fw fa-download"></i>
          </a>

          {{ if $session }}
          <a onclick="byteflood.queueFileForDownload('{{ $session }}', '{{ $share }}', '{{ .id }}');">
            <i class="fa fa-fw fa-plus"></i>
          </a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="card-footer">
    <!-- {{ if gt (asInt .bindings.results.total_pages) 1 }}
    <nav aria-label="Share navigation" class="pull-left">
      <ul class="pagination pagination-sm mt-0 mb-0">
        <li class="page-item">
          <a
            class="page-link"
            href="?offset={{ multiply (asFloat $perPage) (asFloat $page) }}&amp;parent={{ $parent }}&amp;share={{ $share }}&amp;session={{ $session }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        {{ range $i := sequence .bindings.results.total_pages }}
        <li class="page-item">
          <a
            class="page-link"
            href="?offset={{ multiply (asFloat $perPage) (asFloat $i) }}&amp;parent={{ $parent }}&amp;share={{ $share }}&amp;session={{ $session }}"
          >{{ asFloat $i | add 1 }}</a>
        </li>
        {{ end }}

        <li class="page-item">
          <a
            class="page-link"
            href="?offset={{ add (asFloat $offset) 1 }}&amp;parent={{ $parent }}&amp;share={{ $share }}&amp;session={{ $session }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    {{ end }} -->

    <span class="pull-right">
      Showing {{ len .bindings.results.records }}{{ if gt (asInt .bindings.results.total_pages) 1 }} of {{ .bindings.results.result_count }}{{ end }} results
    </span>
  </div>
  {{ else }}
  <div class="card-block">
    <p class="card-text">No files match the specified query.</p>
  </div>
  {{ end }}
</div>
{{ else }}
  <i class="fa fa-reply fa-4x"></i>
  <h2 class="mt-1">Select a share to browse files...</h2>
{{ end }}
