---
bindings:
- name: shares
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares
  params:
    limit:  '{{ or .request.url.query.limit 15 }}'
    offset: '{{ or .request.url.query.offset 0 }}'
    sort:   '{{ .request.url.query.sort }}'
---
{{ $share := or .request.url.query.share `` }}
{{ $session := or .request.url.query.session `` }}
{{ $peer := or .request.url.query.peer `` }}
<div class="list-group">
    {{ if .bindings.shares }}
    {{ range .bindings.shares }}
    <button
        type="button"
        class="list-group-item list-group-item-action{{ if eq .id $share }} active{{ end }}"
        onclick="location.href='/shares/?share={{ .id }}{{ if $session }}&amp;session={{ $session }}&amp;peer={{ $peer }}{{ end }}'"
    >
        <i class="fa fa-fw fa-{{ or .icon_name `folder-o` }}"></i>
        <span class="align-self-start">{{ or .description .id }}</span>
    </button>
    {{ end }}
    {{ else }}
    <a class="list-group-item disabled">
        <i>No shares available.</i>
    </a>
    {{ end }}
</div>
