---
bindings:
- name: shares
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares?stats=true
  params:
    limit:  '{{ .request.url.query.limit }}'
    offset: '{{ or .request.url.query.offset 0 }}'
    sort:   '{{ .request.url.query.sort }}'
---
{{ $share := or .request.url.query.share `` }}
{{ $session := or .request.url.query.session `` }}
{{ $peer := or .request.url.query.peer `` }}
<div class="list-group">
    {{ if .bindings.shares }}
    {{ range .bindings.shares }}
    <button
        type="button"
        {{ if not .stats.file_count }}
        disabled="disabled"
        title="There are no files available in this share."
        {{ end }}
        class="list-group-item list-group-item-action{{ if eq .id $share }} active{{ end }} justify-content-between"
        onclick="location.href='/shares/?share={{ .id }}{{ if $session }}&amp;session={{ $session }}&amp;peer={{ $peer }}{{ end }}'"
    >
        <span class="align-items-start">
            <i class="fa fa-fw fa-{{ or .icon_name `folder-o` }} mr-1"></i>
            {{ or .description .id }}
        </span>

        <div class="d-flex align-items-end">
            {{ if .blocklist }}
            <span
                class="badge badge-danger mr-2"
                title="Access to this share is restricted by a blocklist."
            >
                <i class="fa fa-lock"></i>
                <span class="sr-only">Restricted</span>
            </span>
            {{ end }}

            <div class="flex-column bf-share-stats">
            {{ if .stats.file_count }}
                {{ if .stats.total_bytes }}
                <div data-share-bytes="{{ .stats.total_bytes }}" class="text-right">
                    {{ autobyte .stats.total_bytes "%.3g " }}
                </div>
                {{ end }}

                <div data-share-files="{{ .stats.file_count }}" class="text-right">
                    {{ .stats.file_count | thousandify }} files
                </div>
            {{ else }}
                <div data-share-files="0" class="text-right font-italic">
                    Empty
                </div>
            {{ end }}
            </div>

            <div class="bf-share-actions d-flex flex-column align-self-start justify-content-start">
                {{ if not $session }}
                <i
                    class="align-self-center action-remove fa fa-fw fa-remove"
                    title="Delete"
                    onclick="byteflood.delete('shares', '{{ .id }}')"
                ></i>
                {{ end }}
            </div>
        </div>
    </button>
    {{ end }}
    {{ else }}
    <a class="list-group-item disabled">
        <i>No shares available.</i>
    </a>
    {{ end }}
</div>
