---
bindings:
- name: share
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}

- name: current
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/view/{{ .request.url.query.parent }}
  optional: true

- name: ancestors
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/parents/{{ or .request.url.query.parent `root` }}
  optional: true

- name: results
  resource: :/api{{ if .request.url.query.session }}/sessions/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.share }}/browse/{{ .request.url.query.parent }}
  params:
    limit: '{{ .request.url.query.limit }}'
    offset: '{{ multiply (subtract (asFloat (or .request.url.query.page 1)) 1) (asFloat .request.url.query.limit) }}'
    sort:   '{{ .request.url.query.sort }}'
---
{{ $page := asFloat (or .request.url.query.page 1) }}
{{ $session := or .request.url.query.session `` }}
{{ $peer := or .request.url.query.peer `` }}
{{ $share := or .bindings.share.id `` }}
{{ $grandparent := or .request.url.query.grandparent `` }}
{{ $parent := or .request.url.query.parent `` }}
{{ $offset := or .request.url.query.offset 0 }}


<div class="w-100 d-flex align-items-baseline justify-content-between">
  <nav class="d-flex align-items-baseline">
    {{ if .bindings.results.total_pages }}
    {{ if gt (asInt .bindings.results.total_pages) 1 }}
    <ul class="pagination pagination-sm" aria-label="Share page navigation">
      <li class="page-item{{ if eqx $page 1 }} disabled{{ end }}">
        <a
          class="page-link"
          aria-label="Previous"
          href="/shares/?share={{ $share }}{{ if $session }}&amp;session={{ $session }}&amp;peer={{ $peer }}{{ end }}&amp;page={{ subtract $page 1 }}&amp;parent={{ $parent }}&amp;grandparent={{ $grandparent }}"
          tabindex="-1"
        >
          &laquo;
        </a>
      </li>
      {{ range $index, $i := sequence .bindings.results.total_pages }}
      <li class="page-item{{ if eqx $page (add $index 1) }} active{{ end }}">
        <a
          class="page-link"
          href="/shares/?share={{ $share }}{{ if $session }}&amp;session={{ $session }}&amp;peer={{ $peer }}{{ end }}&amp;page={{ add $index 1 }}&amp;parent={{ $parent }}&amp;grandparent={{ $grandparent }}"
        >
          {{ if eqx $page (add $index 1) }}
          <span class="sr-only">(current)</span>
          {{ end }}
          {{ add $index 1 }}
        </a>
      </li>
      {{ end }}

      <li class="page-item{{ if eqx (add $page 1) (add .bindings.results.total_pages 1) }} disabled{{ end }}">
        <a
          class="page-link"
          aria-label="Next"
          href="/shares/?share={{ $share }}{{ if $session }}&amp;session={{ $session }}&amp;peer={{ $peer }}{{ end }}&amp;page={{ add $page 1 }}&amp;parent={{ $parent }}&amp;grandparent={{ $grandparent }}"
          tabindex="-1"
        >
          &raquo;
        </a>
      </li>
    </ul>
    {{ end }}
    {{ end }}

    {{ if .bindings.results }}
    {{ if .bindings.results.records }}
    <ul class="navbar">
      <li class="navbar-text">
        Showing {{ len .bindings.results.records }}{{ if gt (asInt .bindings.results.total_pages) 1 }} of {{ .bindings.results.result_count }}{{ end }} results
      </li>
    </ul>
    {{ end }}
    {{ end }}
  </nav>

  <nav class="navbar navbar-light">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a
          class="nav-link"
          href="/shares/edit?id={{ $share }}"
          title="Edit this share."
        >
          <i class="fa fa-pencil"></i>
          Edit
        </a>
      </li>

      {{ if not $session }}
      <li class="nav-item">
        <a
            class="nav-link"
            href="/api{{ if $session }}/sessions/{{ $session }}/proxy{{ end }}/shares/{{ $share }}/browse/"
            target="_blank"
        >
          <i class="fa fa-external-link-square"></i>
          API Link
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          onclick="byteflood.delete('shares', '{{ $share }}')"
          title="Delete this share."
        >
          <i class="fa fa-remove"></i>
          Delete
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>

{{ if .bindings.results }}
<div class="card">
  <div class="card-header">
    <b>
      Browsing: <a href="/shares/?share={{ $share }}{{ if $session }}&amp;session={{ $session }}{{ end }}">{{ or .bindings.share.description .bindings.share.id }}</a>
      {{ if $parent }}
        {{ range .bindings.ancestors }}
          /
          {{ if .last }}
            {{ .name }}
          {{ else }}
            <a href="/shares/?share={{ $share }}&amp;{{ if $session }}session={{ $session }}&amp;{{ end }}parent={{ .id }}">{{ .name }}</a>
          {{end }}
        {{ end }}
      {{ end }}
    </b>

<!--     <form class="form-inline pull-right">
      <div class="form-group">
        <label for="browseAs">Browse As: </label>
        <select name="browseAs" class="form-control form-control-sm">
          <option>Files</option>
          <option>TV Shows</option>
          <option>Movies</option>
          <option>Music</option>
        </select>
      </div>
    </form> -->
  </div>

  <nav class="navbar navbar-light bg-faded flex-row justify-content-between">
    <ul class="navbar-nav flex-row">
      {{ if $parent }}
      <li class="nav-item">
        <a
          class="nav-link"
          href="/shares/?share={{ $share }}{{ if $grandparent }}&amp;parent={{ $grandparent }}{{ end }}{{ if $session }}&amp;session={{ $session }}{{ end }}"
          title="Navigate to the directory above this one."
        >
          <i class="fa fa-fw fa-level-up"></i>
          Up
        </a>
      </li>
      {{ end }}
    </ul>

    <ul class="navbar-nav flex-row">
      {{ if $session }}
      <li class="nav-item">
        <a
          class="nav-link"
          href="/subscriptions/edit?id=new&amp;name={{ $share }}&amp;source={{ $peer }}"
          title="Download this directory and monitor it for changes on an ongoing basis."
        >
          <i class="fa fa-fw fa-plus-square"></i>
          Subscribe
        </a>
      </li>
      {{ end }}

      <li class="nav-item">
        <a
          class="nav-link disabled"
          href="#"
          title="Perform a one-time download of this directory."
        >
          <i class="fa fa-fw fa-cloud-download"></i>
          Fetch
        </a>
      </li>
    </ul>
  </nav>

  {{ if .bindings.results.records }}
    {{ $page := .bindings.results.page }}
    {{ $perPage := .bindings.results.records_per_page }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>File Name</th>
        <th class="hidden-md-down">Type</th>
        <th class="hidden-md-down">Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.results.records }}
      <tr>
        <td {{ if .fields.directory }}class="cursor-pointer" onclick="window.location='/shares/?share={{ $share }}&amp;parent={{ .id }}&amp;session={{ $session }}&amp;grandparent={{ $parent }}'"{{ end }}>
          {{ if .fields.directory }}
          <i class="fa fa-fw fa-folder"></i>
          <a href="/shares/?share={{ $share }}&amp;parent={{ .id }}&amp;session={{ $session }}&amp;grandparent={{ $parent }}">{{ .fields.metadata.file.name }}</a>
          {{ else }}
          {{ if .fields.metadata.file.mime.type }}
            {{ if hasPrefix .fields.metadata.file.mime.type `audio` }}
              <i class="fa fa-fw fa-file-audio-o"></i>
            {{ else if hasPrefix .fields.metadata.file.mime.type `video` }}
              <i class="fa fa-fw fa-file-video-o"></i>
            {{ else if hasPrefix .fields.metadata.file.mime.type `image` }}
              <i class="fa fa-fw fa-file-image-o"></i>
            {{ else }}
              <i class="fa fa-fw fa-file-o"></i>
            {{ end }}
          {{ else }}
            <i class="fa fa-fw fa-file-o"></i>
          {{ end }}

          {{ .fields.metadata.file.name }}
          {{ end }}
        </td>
        <td class="hidden-md-down">
          {{ if .fields.directory }}directory
          {{ else }}
          {{ .fields.metadata.file.extension }}
          {{ end }}
        </td>
        <td class="hidden-md-down">
          {{ if .directory }}
            &ndash;
          {{ else }}
            {{ if .fields.size }}
              {{ autobyte .fields.size "%.f" }}
            {{ else }}
            &ndash;
            {{ end }}
          {{ end }}
        </td>
        <td>
          <a
            target="_blank"
            href="/api{{ if $session }}/sessions/{{ $session }}{{ end }}/files/{{ .id }}?mimetype={{ .fields.metadata.file.mime.type }}"
          >
            <i class="fa fa-fw fa-download"></i>
          </a>

          {{ if $session }}
          <a onclick="byteflood.queueFileForDownload('{{ $session }}', '{{ $share }}', '{{ .id }}');">
            <i class="fa fa-fw fa-plus"></i>
          </a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="card-footer d-flex justify-content-between">
  </div>
  {{ else }}
  <div class="card-block">
    <p class="card-text">This folder is empty.</p>
  </div>
  {{ end }}
</div>
{{ end }}

{{ if .bindings.share.long_description }}
{{ if (.bindings.share.long_description | trim) }}
<div class="card">
  <div class="card-header">
  </div>

  <div class="card-block">
    <script type="text/javascript" id="share-landing">
      $(function(){
        $.ajax({
          url: '/api{{ if $session }}/sessions/{{ $session }}/proxy{{ end }}/shares/{{ $share }}/landing',
          success: function(data){
            $('#share-landing').replaceWith(data);
          },
        });
      })
    </script>
  </div>
</div>
{{ end }}
{{ end }}
