---
bindings:
- name: results
  resource: :/api{{ if .request.url.query.session }}/peers/{{ .request.url.query.session }}/proxy{{ end }}/shares/{{ .request.url.query.name }}/browse/{{ .request.url.query.parent }}
  params:
    limit: '{{ or .request.url.query.limit 100 }}'
    offset: '{{ or .request.url.query.offset 0 }}'
    sort:   '{{ .request.url.query.sort }}'
  optional: true
---
{{ $session := or .request.url.query.session `` }}
{{ $share := or .request.url.query.name `` }}
{{ if .bindings.results }}
<div class="card">
  <div class="card-header">
    <b>File List</b>

    <form class="form-inline pull-right">
      <div class="form-group">
        <label for="browseAs">Browse As: </label>
        <select name="browseAs" class="form-control form-control-sm">
          <option>Files</option>
          <option>TV Shows</option>
          <option>Movies</option>
          <option>Music</option>
        </select>
      </div>
    </form>
  </div>

  {{ if .bindings.results.result_count }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.results.records }}
      <tr>
        <td>
          {{ if .fields.directory }}
          <a href="/shares/?name={{ $share }}&amp;parent={{ .id }}&amp;session={{ $session }}">{{ .fields.file.name }}</a>
          {{ else }}
          {{ .fields.file.name }}
          {{ end }}
        </td>
        <td>{{ .fields.file.extension }}</td>
        <td>
          {{ if .fields.file.size }}
          {{   Autobyte .fields.file.size "%.f" }}
          {{ else }}
          &ndash;
          {{ end }}
        </td>
        <td>
          {{ if $session }}
          <a onclick="byteflood.queueFileForDownload('{{ $session }}', '{{ .id }}');">
            <i class="fa fa-fw fa-plus"></i>
          </a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="card-footer">
    <span class="pull-right">
      Showing {{ len .bindings.results.records }} of {{ .bindings.results.result_count }}
    </span>
  </div>
  {{ else }}
  <div class="card-block">
    <p class="card-text">No files match the specified query.</p>
  </div>
  {{ end }}
</div>
{{ else }}
  <i class="fa fa-reply fa-4x"></i>
  <h2 class="mt-1">Select a share to browse files...</h2>
{{ end }}
