---
page:
    title: Share Browser
bindings:
- name: results
  resource: :/api/shares/{{ .request.url.query.name }}/query/{{ or .request.url.query.q `all` }}
---
<div class="card">
  <div class="card-header">
    File List
  </div>

  {{ if .bindings.results.result_count }}
  <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.results.records }}
      <tr>
        <td>{{ .fields.file.name }}</td>
        <td>{{ .fields.file.extension }}</td>
        <td>{{ .fields.file.size }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
    <div class="card-block">
      <p class="card-text">No files match the specified query.</p>
    </div>
  {{ end }}
</div>

