---
bindings:
- name:     sessions
  resource: :/api/sessions

defaults:
  view: files
---
{{ $active := print (qs `session` `local`) `_` (qs `share`) }}
<div class="row">
    <div class="col-sm-12 col-lg-9">
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <b>Peer:</b> Local
                </a>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">Available Peers</h6>
                    <a class="dropdown-item" href="#">Local</a>
                    <div class="dropdown-divider"></div>
                    {{ range .bindings.sessions }}
                    <a class="dropdown-item" href="#">{{ .name }}</a>
                    {{ end }}
                </div>
            </li>

            <div
                bf-load="/shares/_peer_shares"
                bf-replace="true"
                bf-param-share="{{ qs `share` }}"
                bf-param-active="{{ $active }}"
            >
            </div>
        </ul>
    </div>

    <div class="col-sm-12 col-lg-3">
        <div class="input-group mt-2 mb-2">
            <input
                type="text"
                class="form-control"
                placeholder="Search..."
                oninput="
                if(this._doneTyping){
                    clearTimeout(this._doneTyping)
                }

                this._doneTyping = setTimeout(function(){
                    this._doneTyping = null;

                    if(this.value.length) {
                        byteflood.loadInto('#share-browser', '/shares/_peer_query_files', {
                            'params': {
                                'query': this.value,
                                {{ if qs `session` -}}
                                'session': '{{ qs `session` }}',
                                {{ end }}
                            },
                        });
                    } else {
                        $('#share-browser').empty();
                    }
                }.bind(this), 400)"
            >
            </input>
            <div class="input-group-addon">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" id="share-browser">
{{ if qs `share` }}
<script type="text/javascript">
  $(function(){
    qs = {
      'limit': 25,
    };

    location.search.slice(1).split('&').map(function(i){
      var x = i.split('=');
      qs[x[0]] = x.splice(1).join('=');
      return [x[0], x.splice(1).join('=')];
    });

    byteflood.loadInto('#share-browser', '/shares/_peer_browse_{{ qs `view` }}', {
      params: qs,
      error:  false,
    });
  })
</script>
{{ end }}
</div>
