---
page:
  title: Shares
  local_interval: 120000
  peer_interval: 300000

defaults:
  view: files
---
{{ $active := print (qs `session` `local`) `_` (qs `share`) }}
<div class="row">
  <div class="col-lg-3">
      <ul class="nav flex-column bf-nav-tree">
          <!-- Local Shares Management -->
          <li class="nav-item mb-3">
            <div class="d-flex justify-content-between">
              <h4 class="bf-nav-tree-title">Local</h4>

              <div>
                <a class="btn btn-sm btn-success pull-right" href="/shares/edit">
                  <i class="fa fa-plus"></i> Add
                </a>
              </div>
            </div>

            <div
              bf-load="/shares/_peer_shares"
              bf-param-share="{{ qs `share` }}"
              bf-param-active="{{ $active }}"
              bf-interval="{{ $.page.local_interval }}"
            ></div>
          </li>
      </ul>

      <ul
        class="nav flex-column bf-nav-tree"
        bf-load="/shares/_peer_sessions"
        {{ range $k, $v := querystrings -}}
        bf-param-{{ $k }}="{{ $v | asStr }}"
        {{ end -}}
        bf-interval="{{ $.page.peer_interval }}"
      >
      </ul>
  </div>

  <div class="col-lg-9" id="share-browser">
    {{ if qs `share` }}
    <script type="text/javascript">
      $(function(){
        qs = {
          'limit': 25,
        };

        location.search.slice(1).split('&').map(function(i){
          var x = i.split('=');
          qs[x[0]] = x.splice(1).join('=');
          return [x[0], x.splice(1).join('=')];
        });

        byteflood.loadInto('#share-browser', '/shares/_peer_browse_{{ qs `view` }}', {
          params: qs,
          error:  false,
        });
      })
    </script>
    {{ end }}
  </div>
</div>
