<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{- if .page.refresh }}
    <meta http-equiv="refresh" content="{{ .page.refresh }}">
    {{ end -}}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/js/stapes.min.js" integrity="sha384-l+Z/WtSkegBMMzrBOVlkaXa+1kXdJSBKmuhw0t6VTyan4gzqm+L/Nd5BS+kik166" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-notify.min.js" integrity="sha384-Qnyy4lkYCL9J8NhIWAT7bMPccirUwfiBj7PLqr1ZBlSSJ0+A2XDB0UlqZcg+0VGS" crossorigin="anonymous"></script>

    <!-- load the application -->
    <script src="/js/app.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">

    <meta name="theme-color" content="#162d50">
    <meta name="msapplication-navbutton-color" content="#162d50">
    <meta name="apple-mobile-web-app-status-bar-style" content="#162d50">

    <title>Byteflood{{ if .page.title }} :: {{ .page.title }}{{ end }}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-inverse sitewide site-main">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="/img/byteflood-text.png">
            </a>
            <button class="navbar-toggler navbar-toggler-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-xs" id="navbar-header">
              <ul class="nav navbar-nav">
                <li class="nav-item {{ if eq .request.url.path `/` }}active{{end}}">
                  <a class="nav-link" href="/">
                    <i class="fa fa-fw fa-exchange"></i>
                    <span>
                      Transfers
                      {{ if eq .request.url.path `/` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/peers` }}active{{end}}">
                  <a class="nav-link" href="/peers">
                    <i class="fa fa-fw fa-share-alt"></i>
                    <span>
                      Peers
                      {{ if hasPrefix .request.url.path `/peers` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/shares` }}active{{end}}">
                  <a class="nav-link" href="/shares">
                    <i class="fa fa-fw fa-folder"></i>
                    <span>
                      Shares
                      {{ if hasPrefix .request.url.path `/shares` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/subscriptions` }}active{{end}}">
                  <a class="nav-link" href="/subscriptions">
                    <i class="fa fa-fw fa-refresh"></i>
                    <span>
                      Subscriptions
                      {{ if hasPrefix .request.url.path `/subscriptions` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/database` }}active{{end}}">
                  <a class="nav-link" href="/database">
                    <i class="fa fa-fw fa-database"></i>
                    <span>
                      Database
                      {{ if hasPrefix .request.url.path `/database` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/config` }}active{{end}}">
                  <a class="nav-link" href="/config">
                    <i class="fa fa-fw fa-gear"></i>
                    <span class="hidden-md-down">
                      Configuration
                      {{ if hasPrefix .request.url.path `/config` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>

                <li class="nav-item {{ if hasPrefix .request.url.path `/about` }}active{{end}}">
                  <a class="nav-link" href="/about">
                    <i class="fa fa-fw fa-question"></i>
                    <span class="hidden-md-down">
                      About
                      {{ if hasPrefix .request.url.path `/about` }}
                      <span class="sr-only">(current)</span>
                      {{ end }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="content-container">
      {{ if .page.title }}
      {{ if not .page.hide_title }}
      <div class="page-title">
        <h1>{{ .page.title }}</h1>
      </div>
      {{ end }}
      {{ end }}
      {{ template "content" . }}
    </div>

    <nav class="navbar navbar-dark bg-inverse sitewide site-secondary">
        <div class="container-fluid">
        </div>
    </nav>
  </body>
</html>
