<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{- if .page.refresh }}
    <meta http-equiv="refresh" content="{{ .page.refresh }}">
    {{ end -}}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/js/stapes.min.js" integrity="sha384-l+Z/WtSkegBMMzrBOVlkaXa+1kXdJSBKmuhw0t6VTyan4gzqm+L/Nd5BS+kik166" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-notify.min.js" integrity="sha384-Qnyy4lkYCL9J8NhIWAT7bMPccirUwfiBj7PLqr1ZBlSSJ0+A2XDB0UlqZcg+0VGS" crossorigin="anonymous"></script>
    <script src="/js/typeahead.jquery.min.js" integrity="sha384-zy6jV5+NLVPlYNmgmTbp/B9IYQmRHU3jKyH2W2RhWd1uRn4R/3K3N7/agq8fcc3u" crossorigin="anonymous"></script>
    <script src="/js/simplemde.min.js" integrity="sha384-83rBTICYr+FwAC+A5t0ZYsWjTcPXibCe/NBSFLAgMPkwHBvIi02EcE9OShMsGCi3" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-combobox.js" integrity="sha384-Om1bk5J1HR6Yjzw50LmLF24RGYN8rZXgJc+vVxRguUlAh1T93ix6j9xSRkaJgmRj" crossorigin="anonymous"></script>
    <script src="/js/d3.v3.min.js" integrity="sha384-N8EP0Yml0jN7e0DcXlZ6rt+iqKU9Ck6f1ZQ+j2puxatnBq4k9E8Q6vqBcY34LNbn" crossorigin="anonymous" ></script>
    <!-- <script src="/js/c3.min.js" integrity="sha384-PEgIpZbPICOFxcH18FVSUCfn24EG08PsJtQTdTqQ+bPJNZ/hL4WZjGXmpxsvqduu" crossorigin="anonymous" ></script> -->
    <script src="/js/plotly-basic.min.js" integrity="sha384-McJ5kjLYuC9LJY3P8EOqoQGHJ0gordjYRrUew/9S4QOBs56fXQ0aRJewbss5btRE" crossorigin="anonymous" ></script>
    <script src="/js/app.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/css/typeahead.css" integrity="sha384-+CKKZCCG/eFPcGV13i1VpzLA0nH/btEWvpMcmmgGfnjyAxWcI49yL0sa2OWcUFrh" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/css/simplemde.min.css" integrity="sha384-rQdIropf4eQBEB9SkNB4xxukYHlkyXJfKYkpVNUQOLizz+d2q0wo7zjVA2XcYSij" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/fonts/lato-v13/font.css" integrity="sha384-x+jtVPpHZfB2+vyQoxlbVTqiOPz97wlnFVkwqHuhi1/w468DdihokDGb0v9b6XtD" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-combobox.css" integrity="sha384-pI1SdRzcOWw5CmwNaDAnsRJRk5eLUe/DQ6dUeSjbTo/Zo8aNCX8ypfW1niZgM1hI" crossorigin="anonymous" type="text/css">
    <!-- <link rel="stylesheet" href="/css/c3.min.css" integrity="sha384-tXXRdLmcUxOP3gNdjUVjJqeG5/IJLHDrVfGYVyaUCABpBOSRX757RKMo9y4OU2qt" crossorigin="anonymous" type="text/css"> -->
    <link rel="stylesheet" href="/css/app.css" type="text/css">

    <meta name="theme-color" content="#162d50">
    <meta name="msapplication-navbutton-color" content="#162d50">
    <meta name="apple-mobile-web-app-status-bar-style" content="#162d50">

    <title>Byteflood{{ if .page.title }} :: {{ .page.title }}{{ end }}</title>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse sitewide site-main">
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-header"
        aria-controls="navbar-header"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img src="/img/byteflood-text.png">
      </a>

      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ if hasPrefix .request.url.path `/shares` }}active{{end}}">
            <a class="nav-link" href="/shares">
              <i class="fa fa-fw fa-arrow-circle-up"></i>
              Shares
              {{ if hasPrefix .request.url.path `/shares` }}
              <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/subscriptions` }}active{{end}}">
            <a class="nav-link" href="/subscriptions">
              <i class="fa fa-fw fa-arrow-circle-down"></i>
              Subscriptions
              {{ if hasPrefix .request.url.path `/subscriptions` }}
              <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/database` }}active{{end}}">
            <a class="nav-link" href="/database">
              <i class="fa fa-fw fa-folder"></i>
              Folders
              {{ if hasPrefix .request.url.path `/database` }}
              <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/peers` }}active{{end}}">
            <a class="nav-link" href="/peers">
              <i class="fa fa-fw fa-share-alt"></i>
              Peers
              {{ if hasPrefix .request.url.path `/peers` }}
              <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/queue` }}active{{end}}">
            <a class="nav-link" href="/queue">
              <i class="fa fa-fw fa-exchange"></i>
              Transfers
              {{ if hasPrefix .request.url.path `/queue` }}
              <span class="sr-only">(current)</span>
              {{ end }}
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/config` }}active{{end}}">
            <a class="nav-link" href="/config">
              <i class="fa fa-fw fa-gear"></i>
              <span class="hidden-md-down">
                Configuration
                {{ if hasPrefix .request.url.path `/config` }}
                <span class="sr-only">(current)</span>
                {{ end }}
              </span>
            </a>
          </li>

          <li class="nav-item {{ if hasPrefix .request.url.path `/about` }}active{{end}}">
            <a class="nav-link" href="/about">
              <i class="fa fa-fw fa-question"></i>
              <span class="hidden-md-down">
                About
                {{ if hasPrefix .request.url.path `/about` }}
                <span class="sr-only">(current)</span>
                {{ end }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-container">{{ template "content" . }}</div>

    <nav class="navbar navbar-dark bg-inverse sitewide site-secondary">
        <div class="container-fluid">
        </div>
    </nav>
  </body>
</html>
