.root-container {
    margin-top: 1em;
}

.root-container > h1 {
    margin-bottom: 1em;
}

body > .navbar {
    border-radius: 0;
}

body > .navbar.bg-inverse {
    background-color: #162d50 !important;
}

body > .navbar .navbar-brand {
    margin-right: 1.5em;
}
