/* small and below */
@media (max-width: 1299px) {
    .content-container {
        width: 100%;
        padding-top: 15px;
    }

    .navbar.sitewide.site-secondary {
        display: none;
    }
}

/* large and above */
@media (min-width: 1300px) {
    .navbar.sitewide {
        width: 200px;
        position: fixed;
        height: 100%;
        flex-direction: column;
        padding: 0;
    }

    .navbar.sitewide.site-main {
        -webkit-box-shadow: inset -10px 0px 10px -6px rgba(0,0,0,0.66);
        -moz-box-shadow: inset -10px 0px 10px -6px rgba(0,0,0,0.66);
        box-shadow: inset -10px 0px 10px -6px rgba(0,0,0,0.66);
        background: -moz-linear-gradient(right, #162d50 25%, #0f1f38 100%);
        background: -webkit-linear-gradient(right, #162d50 25%,#0f1f38 100%);
        background: linear-gradient(to left, #162d50 25%,#0f1f38 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162d50', endColorstr='#0f1f38',GradientType=0 );
    }

    .navbar.sitewide.site-secondary {
        -webkit-box-shadow: inset 10px 0px 10px -6px rgba(0,0,0,0.66);
        -moz-box-shadow: inset 10px 0px 10px -6px rgba(0,0,0,0.66);
        box-shadow: inset 10px 0px 10px -6px rgba(0,0,0,0.66);
        background: -moz-linear-gradient(left, #162d50 25%, #0f1f38 100%);
        background: -webkit-linear-gradient(left, #162d50 25%,#0f1f38 100%);
        background: linear-gradient(to right, #162d50 25%,#0f1f38 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162d50', endColorstr='#0f1f38',GradientType=0 );
        right: 0;
        top: 0;
    }

    .navbar.sitewide .navbar-nav {
        flex-direction: column;
        width: 100%;
        margin-right: 0 !important;
    }

    .navbar.sitewide .navbar-brand,
    .navbar.sitewide .navbar-item {
        width: 100%;
        text-align: center;
        margin-right: 0 !important;
        padding: .5rem 1rem;
    }

    .navbar.sitewide .navbar-nav .nav-link {
        padding: .5rem 1.5rem;
    }

    .navbar.sitewide .navbar-nav .nav-item.active {
        background: #101F38;
        -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
    }

    .content-container {
        margin-left: 200px;
        margin-right: 200px;
    }

    .content-container > .page-title > h1 {
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        font-size: 18pt;
        height: 48px;
        line-height: 48px;
        vertical-align: middle;
    }
}

.content-container {
    padding-left: 15px;
    padding-right: 15px;
}

.content-container > h1 {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar.sitewide {
    border-radius: 0;
    background-color: #162d50 !important;
}

.navbar.sitewide.site-main .navbar-brand {
    margin-right: 1.5em;
}

.navbar.sitewide.site-secondary .navbar-brand {
    margin-left: 1.5em;
}

.navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 0;
}

.bf-nav-tree {
    margin-top: 25px;
}

.bf-nav-tree > li {
    margin-left: 0;
}

.bf-nav-tree .nav-link {
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 0.5em;
}

.bf-nav-tree .nav-link:hover {
    background-color: rgba(0,0,0,.075);
}

.bf-nav-tree .nav-link.active {
    background-color: #0275d8;
    color: white;
    font-weight: bold;
}

.bf-nav-tree .bf-nav-tree-title {
    text-transform: uppercase;
    text-shadow: -1px -1px #dddddd;
    font-size: large;
    color: #444;
    margin-top: 0.20em;
}

.bf-nav-tree > .nav-item:not(:first-child) {
    margin-top: 1em;
}

.bf-nav-tree > li li {
    margin-left: 1em;
}


.bf-queue-status-idle:before {
    content: '\f1db'; /* circle-thin */
}

.bf-queue-status-waiting:before {
    content: '\f017'; /* fa-clock-o */
}

.bf-queue-status-downloading:before {
    content: '\f019'; /* fa-download */
}

.bf-queue-status-completed:before {
    content: '\f00c'; /* fa=check */
}

.bf-queue-status-failed:before {
    content: '\f071'; /* fa-exclamation-triangle */
}

/*
.bf-text-status-downloading {
    color: #0275d8 !important;
}

.bf-text-status-completed {
    color: #5cb85c !important;
}
*/

.bf-text-status-failed {
    color: #d9534f !important;
}

.bf-log-table {
    background-color: rgba(0,0,0,0.0625);
    font-size: 10pt;
    font-family: monospace;
}

.children-display-block > * {
    display: block;
}

.bf-share-stats {
    font-size: smaller;
}

.bf-share-actions {
    width: 32px;
    height: 100%;
    margin-right: -20px;
    margin-top: -10px;
}
.bf-share-actions > i:first-child {
    margin-top: 0.2em;
}

.bf-share-actions > i {
    margin-bottom: 0.1em;
}

.bf-share-actions .action {
    color: transparent;
    opacity: 0.8;
}

.bf-share-actions > i:hover {
    opacity: 1.0;
}

.bf-share-actions > i.action-remove:hover {
    color: #d9534f;
}

.list-group-item:hover .bf-share-actions {
    color: inherit;
}

.card {
    margin-bottom: 1em;
}
