.root-container {
    margin-top: 75px;
}

.root-container > h1 {
    margin-bottom: 1em;
}

.navbar.bg-inverse {
    background-color: #162d50 !important;
}

.navbar .navbar-brand {
    margin-right: 1.5em;
}
