---
page:
    title: Database
    refresh: 30
bindings:
- name: db
  resource: :/api/db
---
{{ $scanning := .bindings.db.scan_in_progress }}
{{ if $scanning }}
<div class="alert alert-info" role="alert">
  A database scan is currently in progress.
</div>
{{ end }}

<div class="card">
  <div class="card-header">
    Scanned Directories
  </div>

  {{ if .bindings.db.directories }}
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th>Label</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>
          <button
            class="btn btn-sm btn-primary"
            onclick="byteflood.scan()"
            {{ if $scanning }}disabled{{ end }}
          >
            <i class="fa fa-search"></i>
            Scan All
          </button>

        </td>
      </tr>
      {{ range .bindings.db.directories }}
      <tr>
        <td>{{ .label }}</td>
        <td>{{ .path }}</td>
        <td>
          <button
            class="btn btn-sm btn-success"
            onclick="byteflood.scan('{{ .label }}')"
            {{ if $scanning }}disabled{{ end }}
          >
            <i class="fa fa-search"></i>
            Scan
          </button>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">No directories are being monitored.</p>
  </div>
  {{ end }}
</div>

