---
page:
    title: Download Queue
    refresh: 3
bindings:
- name: queue
  resource: :/api/queue
---
<div class="card">
  <div class="card-header">
    Active Downloads
  </div>

  {{ if .bindings.queue.active }}
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>File</th>
        <th>Peer</th>
        <th>Progress</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.queue.active }}
      <tr>
        <td><i class="fa fa-fw bf-queue-status-{{ .status }}"></i></td>
        <td>{{ or .metadata.name .file_id }}</td>
        <td>{{ or .peer .session_id }}</td>
        <td>
          <progress class="progress" value="{{ Percent .progress 1.0 }}" max="100"></progress>
        </td>
        <td>
          {{ Percent .progress 1.0 }}% ({{ Autobyte .rate "%.1f" }}/s)
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block text-xs-center">
    <p class="card-text">There are no active downloads.</p>
  </div>
  {{ end }}
</div>

<div class="card">
  <div class="card-header">
    Download History
  </div>

  {{ if .bindings.queue.completed }}
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>File</th>
        <th>Message</th>
        <th>Peer</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.queue.completed }}
      <tr>
        <td><i class="fa fa-fw bf-queue-status-{{ .status }}"></i></td>
        <td>{{ or .file_id }}</td>
        <td>{{ if .error }}{{ .error }}{{ end }}</td>
        <td>{{ or .peer .session_id }}</td>
        <td>{{ Autobyte .metadata.file.size "%.2f" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block text-xs-center">
    <p class="card-text">There are no completed downloads.</p>
  </div>
  {{ end }}
</div>

